---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
import ultrasonido2 from "../img/servicio/usg-10/ultrasonido2.webp";
import biopsia from "../img/servicio/biopsia/biopsia.jpeg";
import biopsia1 from "../img/servicio/biopsia/biopsia-1.jpg";
import biopsia2 from "../img/servicio/biopsia/biopsia-2.jpg";
---

<Layout title="Biopsia de Vellosidades Coriales - Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
    <Servicio 
      title='Biopsia de Vellosidades Coriales' 
      href='1' 
      img={biopsia}
      img2={biopsia1}
      body='La biopsia corial es un procedimiento de diagnóstico prenatal, mediante la obtención y posterior estudio genético de vellosidades coriales de la placenta. Se debe realizar entre las semanas 10 y 14 de embarazo y en ningún caso antes de las 10 semanas, pues puede ocasionar el acortamiento de las extremidades del feto.'
      subtitle='¿En que me beneficia realizarme este procedimiento?' 
      body2='Es un procedimiento en el que cual guiados por ultrasonido obtendremos muestras de la placenta que nos permitirá la detección en un 100 % de enfermedades de los cromosomas como Síndrome de Down, Fibrosis quística, Anemia de células falciformes, Enfermedad de Tay-Sachs, etc.' 
      subtitle2='Más información'
      info1='¿Cómo me preparo para una biopsia de vellosidades coriales?'
      info2='¿Cómo se realiza el procedimiento?'
      img3={ultrasonido2}
      img4={biopsia2}
      infoDesplegable1='En la mañana de la prueba, tal vez le pidan que beba más líquido y que no orine. Esto le llena la vejiga, lo cual puede ayudar a mover el útero hacia una posición más útil para el procedimiento.'
      infoDesplegable2='Sólo la parte inferior necesita estar expuesta durante este procedimiento, por ello, le convendría llevar una vestimenta holgada, de dos piezas. una amniocentesis suele durar unos 15-20 minutos, aunque la mayoría del tiempo se dedica a la ecografía que guía la punción, la cual dura menos de dos minutos.'
      infoDesplegable3='Generalmente no se sienten molestias debidas a la presión a medida que presionan el transductor contra el área que está siendo examinada. No obstante, si el área es sensible, usted podría sentir presión o un dolor leve debido al transductor.'
      infoDesplegable4='Durante la realización de la biopsia la paciente se tumba en una camilla boca arriba y se le descubre el abdomen. A continuación, se pone un gel especial en el abdomen que facilita la realización de una ecografía que ubicará al bebé en el útero y localizará la placenta a analizar.'
      infoDesplegable5='Posteriormente, se limpia el abdomen con un antiséptico, tambiém se puede poner aplicar una sustancia anestésica en la zona de la punción, aunque no siempre se hace, pues la punción sólo resulta en algo incómodo, con un ligero ardor o calambre durante la extracción del líquido amniótico, pero eso es todo.'
      infoDesplegable6='Se realiza la punción en el abdomen guiada por la ecografía y se extrae de la placenta una muestra de tejido. En este proceso es importante que la embarazada evite moverse. Tras la extracción del tejido se retira la aguja y se pone un pequeño apósito en la zona de punción.'
      />
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>