---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
---

<Layout title="Cesárea - Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
    <Servicio 
      title='Cesárea' 
      href='1' 
      img='src/img/servicio/parto/parto-1.jpg'
      img2='src/img/servicio/parto/parto-2.jpg' 
      body='El parto por cesárea es el alumbramiento de un bebé a través de la incisión quirúrgica que se hace en el abdomen y el útero de la madre. Este procedimiento se realiza cuando se determina que este método es más seguro para la madre, para el bebé o para ambos que el parto vaginal. En un parto por cesárea se realiza una incisión en la piel y en el útero en la región baja del abdomen de la madre. La incisión en la piel puede ser vertical (longitudinal) o transversa (horizontal), y la incisión en el útero puede ser vertical o transversa.'
      subtitle='Razones para realizar el procedimiento' 
      body2='Cuando una mujer no puede dar a luz por vía vaginal, el parto se realiza por medio de una intervención quirúrgica practicando una cesárea. Algunas cesáreas son planificadas y programadas, mientras que otras pueden practicarse como resultado de complicaciones surgidas durante el trabajo de parto.' 
      subtitle2='Más información'
      info1='Señales de que se aproxima el parto'
      info2='Antes del procedimiento'
      img3='src/img/servicio/parto/parto-3.jpg'
      img4='src/img/servicios/parto.jpg'
      infoDesplegable1='Romper Bolsa: Significa que se rompe la bolsa que contiene el líquido amniótico que rodea al bebé, produciendo la expulsión de este por la vagina. Es posible que se sienta un gran flujo o quizás uno más pequeño, pero se produce de manera espontánea, no se puede controlar como la orina, y aumenta con los movimientos.'
      infoDesplegable2='Pérdida del tapón mucoso: Se produce cuando el cuello del útero comienza a dilatarse. El tapón mucoso es un flujo espeso y de color amarillo/café, a veces sanguinolento, cuyo objetivo es mantener sellado el cuello del útero durante las 40 semanas de embarazo para proteger al bebé de posibles infecciones.'
      infoDesplegable3='Contracciones: Sin lugar a duda, es el síntoma más evidente de que el trabajo de parto se acerca. Las primeras contracciones se sienten como cólicos, es decir un suave dolor a lo largo del abdomen y este se pone duro, a veces acompañado de dolor de espalda. A medida que pasa el tiempo, la frecuencia es mayor y el intervalo entre cada contracción se hace más corto y probablemente más dolorosas. Si duran más de medio minuto y empiezan a ser más frecuentes y más fuertes, entonces es muy probable que se esté entrando en parto.'
      infoDesplegable4='El médico le explicará el procedimiento y le ofrecerá la oportunidad de formular todas las preguntas que pueda tener al respecto. Tenga planeado que alguien se quede con usted después del parto por cesárea. Es posible que tenga dolor durante los primeros días y que necesite ayuda con el bebé.'
      infoDesplegable5='Se le preguntará cuándo fue la última vez que comió o bebió algo. Si el parto por cesárea es un procedimiento planificado y requiere anestesia general, espinal o epidural, se le pedirá que ayune ocho horas antes del procedimiento, generalmente, después de la medianoche.'
      infoDesplegable6='Informe a su médico si tiene antecedentes de trastornos hemorrágicos o si está tomando medicamentos anticoagulantes (diluyentes sanguíneos), aspirina u otros medicamentos que afectan la coagulación de la sangre. Quizás sea necesario dejar de tomar estos medicamentos antes de practicar el procedimiento.'
      />
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>