---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
import Loader from '../components/Loader.astro';
 
---

<Layout 
  title="Cesárea - Dra. Janeth Adriana García Cid"
  url='https://vidaprenatal-maternofetal-ginecologia.mx/Cesarea'
  description='Nos enfocamos en una atención especializada y respetada de la cesárea, creando el mejor ambiente para mamá y bebé ya que contamos con un equipo altamente capacitado para la mejor atención en ese momento tan especial.'>
	<main id="inicio">
    <Loader />
		<NavbarMovil/>
    <Servicio 
      title='Cesárea' 
      punto1='❤ Nos enfocamos en una atención especializada y respetada de la cesárea, creando el mejor ambiente para mamá y bebé ya que contamos con un equipo altamente capacitado para la mejor atención en ese momento tan especial.' 
      punto2='❤ Implica generar un espacio familiar donde la mamá y el recién nacido sean los protagonistas. ' 
      punto3='❤ Se deben tener en cuenta los deseos y necesidades de cada mujer, como el estar o no acompañada por una persona de confianza en cada momento' 
      punto4='❤ Se debe informar sobre las distintas intervenciones médicas que pueden tener lugar durante el parto y postparto.' .
      punto5='❤ Cada mujer tiene derecho al apego inmediato con su bebé, es decir al contacto piel a piel con su madre desde el primer momento, siempre que el recién nacido no requiera de cuidados especiales. De esta manera se crea el primer vínculo de amor.' 
      punto6='❤ Pinzamiento tardío del cordón.'
      img='/servicio/parto-1.webp'
      infoDesplegable1='Debe ser informada, desde el embarazo, sobre los beneficios de la lactancia materna y recibir apoyo para amamantar.'      
      infoDesplegable2=''
    >
    <h3>Tenemos convenio con todas las aseguradoras</h3>
    </Servicio>
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>
<style>
  h3 {
    color: var(--morado-title);
    text-align: center;
    font-weight: bolder;
  }
</style>