---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
import riesgo from "../img/servicios/embarazo-riesgo.jpg";
import riesgo1 from "../img/servicio/riesgo/riesgo-1.jpg";
import adn3 from "../img/servicio/adn/adn-3.jpg";
import control3 from "../img/servicio/control-prenatal/control-3.jpg";
---

<Layout title="Embarazos de Bajo y Alto Riesgo - Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
    <Servicio 
      title='Embarazos de Bajo y Alto Riesgo' 
      href='1' 
      img={riesgo}
      img2={riesgo1}
      body='Un embarazo de alto riesgo es aquel que pone en riesgo la salud o la vida de la madre o del feto. Es necesario atención de personal altamente capacitado. Algunos embarazos se vuelven de alto riesgo a medida que progresan, mientras que algunas mujeres tienen mayor riesgo de tener complicaciones incluso antes de quedar embarazadas, por diversas razones. Los cuidados prenatales regulares desde el inicio del embarazo ayudan a muchas mujeres a tener embarazos saludables y partos sin complicaciones.'
      subtitle='¿Cuáles son los factores de riesgo de un embarazo de alto riesgo?' 
      body2='A veces, un embarazo de alto riesgo es el resultado de una afección médica presente antes del embarazo. En otros casos, una afección médica que tú o tu bebé desarrollan durante el embarazo hace que se convierta en un embarazo de alto riesgo. Estos son algunos de los factores específicos que pueden incidir en un embarazo de alto riesgo: Edad avanzada de la madre, problemas de salud materna, complicaciones en el embarazo, embarazo múltiple, etc.' 
      subtitle2='Más información'
      info1='¿Qué medidas puedo tomar para promover un embarazo saludable?'
      info2='¿Qué más tengo que saber sobre un embarazo de alto riesgo?'
      img3={adn3}
      img4={control3}
      infoDesplegable1='Programa una cita médica antes de quedar embarazada. Si planeas quedar embarazada, consúltanos para aconsejarte que empieces a tomar una vitamina prenatal diaria con ácido fólico y que alcances un peso saludable antes de quedar embarazada. Si tienes una afección médica, tu tratamiento podría modificarse a modo de preparación para el embarazo.'
      infoDesplegable2='Solicita atención médica prenatal de manera regular. Las consultas prenatales ayudan a que controlemos tu salud y la de tu bebé.'
      infoDesplegable3='Evita las sustancias de riesgo. Si fumas, deja de hacerlo. El alcohol y las drogas ilícitas también están prohibidos. Habla con nosotros cualquier medicamento o suplemento que tomes.'
      infoDesplegable4='Habla con nosotros sobre cómo controlar cualquier afección médica que tengas durante el embarazo y cómo tu salud podría afectar el trabajo de parto y el parto. Comunícate si presentas lo siguiente:'
      infoDesplegable5='Sangrado o secreción vaginales acuosa, dolores de cabeza intensos, dolor o calambres en la parte inferior del abdomen; disminución de la actividad fetal, dolor o sensación de ardor al orinar, cambios en la visión, que incluyen visión borrosa, hinchazón repentina o extensa en la cara; las manos o los dedos, fiebre o escalofríos, vómitos o náuseas persistentes, mareos, pensamientos sobre lastimarte a ti misma o a tu bebé'
      infoDesplegable6='Un embarazo de alto riesgo puede tener altibajos. Haz todo lo posible por mantener una actitud positiva mientras tomas medidas para promover un embarazo saludable.'
      />
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>