---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Hero from	'../components/Hero.astro';
import Servicios from '../components/Servicios.astro';
import GaleriaConsultorio from '../components/GaleriaConsultorio.astro';
import Contacto from '../components/Contacto.astro';
import Ubicacion from '../components/Ubicacion.astro';
---

<Layout title="Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
		<Hero/>
		<Servicios/>
		<GaleriaConsultorio/>
		<Contacto/>
		<Ubicacion/>
		<Footer/>
	</main>
</Layout>

<style>

</style>
