---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Hero from	'../components/Hero.astro';
---

<Layout title="Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
		<Hero/>
		<Footer/>
	</main>
</Layout>

<style>

</style>
