---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
import revelacion1 from "../img/servicio/revelacion/revelacion-1.jpg";
import revelacion from "../img/servicio/revelacion/revelacion.png";
import ultrasonido2 from "../img/servicio/usg-4d/ultrasonido-2.jpg";
import ultrasonido3 from "../img/servicio/usg-4d/ultrasonido-3.jpg";
---

<Layout title="Revelación del Sexo Fetal - Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
    <Servicio 
      title='Revelación del Sexo Fetal' 
      href='1' 
      img={revelacion1}
      img2={revelacion}
      body='La ecografía es método tradicional para detectar el sexo del bebé. A través de ella, y de las ganas que tengas de saber el sexo de tu bebé, es posible conocer el sexo si te encuentras entre la 7ma y la 16va semana de embarazo.'
      subtitle='¿En que me beneficia realizarme este ultrasonido?' 
      body2='Sabemos que conocer el sexo de tu bebé siempre será algo muy importante para ti, sabías que ya desde el primer trimestre podremos saber el sexo de tu bebé con una preción del 70-90 %. A partir de la semana 16 ya se confirma el sexo en un 100 %.' 
      subtitle2='Más información'
      info1='¿Cómo me preparo para este ultrasonido?'
      info2='¿Cómo se realiza el procedimiento?'
      img3={ultrasonido2}
      img4={ultrasonido3}
      infoDesplegable1='No es necesario una preparación especial para realizar este estudio. En dado caso, el médico puede solicitar la toma de mucha agua antes de realizarlo, así como no vaciar por completo la vejiga, ya que esto puede hacer que las imágenes salgan de mejor manera.'
      infoDesplegable2='Evita darte crema hidratante las 48/72 horas antes a tu ecografía, sólo en el área abdominal inferior, que es la que necesita estar expuesta durante este procedimiento, por ello, le convendría llevar una vestimenta holgada, de dos piezas.'
      infoDesplegable3='Generalmente no se sienten molestias debidas a la presión a medida que presionan el transductor contra el área que está siendo examinada. No obstante, si el área es sensible, usted podría sentir presión o un dolor leve debido al transductor.'
      infoDesplegable4='Para realizar este ultrasonido usted yacerá acostado boca arriba en una mesa de examen que puede inclinarse o moverse. Los pacientes podrían tener que ponerse de costado para mejorar la calidad de las imágenes.'
      infoDesplegable5='Ésta es una prueba totalmente indolora y muy rápida, ya que su duración ronda los 30 minutos. Además, no te pondrá en peligro ni a ti ni al bebé.'
      infoDesplegable6='Una vez terminado el proceso de toma de imágenes, el tecnólogo limpiará el gel transparente de ultrasonido de su piel. Cualquier resto de gel que quede, se secará rápidamente. El gel de ultrasonido generalmente no mancha ni destiñe la ropa.'
      />
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>