---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import HeroTrayectoria from '../components/HeroTrayectoria.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Contacto from '../components/Contacto.astro';
import Ubicacion from '../components/Ubicacion.astro';
import Servicio from '../components/Servicio.astro';
---

<Layout title="Servicios | Dra. Janeth Adriana García Cid">
  <main>
    <NavbarMovil/>
    <Servicio />
    <Contacto />
    <Ubicacion />
    <RedesFlotantes />
		<Footer/>
  </main>
</Layout>