---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import HeroTrayectoria from '../components/HeroTrayectoria.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Contacto from '../components/Contacto.astro';
import Ubicacion from '../components/Ubicacion.astro';
import Up from '../components/Up.astro';
import Loader from '../components/Loader.astro';
 
---

<Layout title="Trayectoria | Dra. Janeth Adriana García Cid" 
  url='https://vidaprenatal-maternofetal-ginecologia.mx/Trayectoria'
  description='Trayectoria de la Dra. Janeth Adriana García Cid, su historia acádemica y experiencia.'
  >
  <main>
    <Loader />
    <NavbarMovil/>
    <HeroTrayectoria />
    <Contacto />
    <Ubicacion />
    <RedesFlotantes />
    <Up />
		<Footer/>
  </main>
</Layout>