---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
import usg10 from "../img/servicios/usg-10semanas.jpg";
import usg1 from "../img/servicio/usg-10/embarazo.png";
import USG2 from "../img/servicio/usg-10/ultrasonido.jpg";
import usg3 from "../img/servicio/usg-10/ultrasonido2.webp";
---

<Layout title="USG de Menos de 11 Semanas - Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
    <Servicio 
      title='USG de Menos de 11 Semanas' 
      href='1' 
      img={usg10}
      img2={usg1}
      body="Un ultrasonido de menos de 11 semanas es un examen imagenológico que utiliza ondas sonoras para crear una imagen de cómo se está desarrollando el bebé en el útero. Este nos arrojará diferentes datos, entre ellos es que nos confirmará el embarazo, evaluá la vitalidad del embrión y nos mostrará el número de fetos."
      subtitle='¿En que me beneficia realizarme este ultrasonido?' 
      body2='Este nos ayuda a ver diferentes situaciones. Podemos observar, desde un inicio, cuantos fetos existen y así poder determinar el mejor procedimiento, cuidados, etc. Igualmente, nos ayuda a evaluar la vitalidad del feto, esto para saber si está creciendo de forma correcta y nos confirmará que todo esta transcurriendo de la mejor manera. Es bueno realizar todos los ultrasonidos necesarios para verificar que todo transcurra de la manera esperada, y en caso de detectar alguna anomalía, podamos actuar lo más pronto posible y de la mejor manera.' 
      subtitle2='Más información'
      info1='¿Cómo me preparo para este ultrasonido?'
      info2='¿Cómo se realiza el procedimiento?'
      img3={USG2}
      img4={usg3}
      infoDesplegable1='Este procedimiento no requiere de ninguna de preparación especial. Debido a que solamente se necesita exponer la zona del abdomen inferior, le convendría llevar una vestimenta holgada, de dos piezas.'
      infoDesplegable2='Sólo el área abdominal inferior necesita estar expuesta durante este procedimiento.'
      infoDesplegable3='Generalmente no se sienten molestias debidas a la presión a medida que presionan el transductor contra el área que está siendo examinada. No obstante, si el área es sensible, usted podría sentir presión o un dolor leve debido al transductor.'
      infoDesplegable4='Para realizar este ultrasonido usted yacerá acostado boca arriba en una mesa de examen que puede inclinarse o moverse. Los pacientes podrían tener que ponerse de costado para mejorar la calidad de las imágenes.'
      infoDesplegable5='Le aplicarán un gel a base de agua en el área del cuerpo que esté siendo examinada. El gel ayudará al transductor a hacer contacto de forma segura con el cuerpo. También elimina los bolsillos de aire entre el transducor y la piel que podrían bloquear el paso de las ondas de sonido hacia el interior de su cuerpo. El sonógrafo coloca el transductor en el cuerpo y los mueve hacia un lado y el otro sobre el área de interés hasta que se capturen las imágenes deseadas.'
      infoDesplegable6='Una vez terminado el proceso de toma de imágenes, el tecnólogo limpiará el gel transparente de ultrasonido de su piel. Cualquier resto de gel que quede, se secará rápidamente. El gel de ultrasonido generalmente no mancha ni destiñe la ropa. Por lo general, este examen de ultrasonido se completa en 30 minutos.'
      />
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>