---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
import usg2 from "../img/servicios/usg-segungo.jpg";
import usg3 from "../img/servicio/usg-11/ultrasonido-3.jpg";
import usg4 from "../img/servicio/usg-11/ultrasonido-4.jpg";
import ultrasonido from "../img/servicio/usg-18/ultrasonido-1.jpg";
---

<Layout title="USG Estructural Segundo Trimestre 18-24 sdg - Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
    <Servicio 
      title='USG Estructural Segundo Trimestre 18-24 sdg' 
      href='1' 
      img={usg2}
      img2={ultrasonido}
      body='El ultrasonido estructural consiste en el examen del bebé por medio de un equipo ultrasónico para conocer su evolución entre la semana 18 y 24 de gestación. El ultrasonido estructural permite identificar posibles anomalías en el crecimiento físico del feto, por lo cual, es de sumamente importante realizarlo. A este estudio también se le conoce como sonograma y funciona a través de ondas sonoras de alta frecuencia que rebotan en el interior del cuerpo y se transforman en una imagen con ayuda de una computadora.'
      subtitle='¿En que me beneficia realizarme este ultrasonido?' 
      body2='Este ultrasonido nos ayuda a revisar que todo esté en orden, realiza una evaluación estructural anatómica del feto de manera detallada, permite identificar que se hayan formado adecuadamente todos los órganos del bebé, permite detectar alteraciones o defectos estructurales. Evalúa el riesgo de parto pretérmino a través de la evaluación ultrasonográfica vía vaginal de la longitud del cérvix (cuello del útero). Evaluación de la localización placentaria, ayuda a descartar placentas de inserción baja o placentas previas (cuando se insertan a nivel del cuello uterino a través de la evaluación vaginal). Conocerás el sexo de tu bebé.' 
      subtitle2='Más información'
      info1='¿Cómo me preparo para este ultrasonido?'
      info2='¿Cómo se realiza el procedimiento?'
      img3={usg3}
      img4={usg4}
      infoDesplegable1='No es necesario una preparación especial para realizar este estudio. En dado caso, el médico puede solicitar la toma de mucha agua antes de realizarlo, así como no vaciar por completo la vejiga, ya que esto puede hacer que las imágenes salgan de mejor manera.'
      infoDesplegable2='Sólo el área abdominal inferior necesita estar expuesta durante este procedimiento, por ello, le convendría llevar una vestimenta holgada, de dos piezas.'
      infoDesplegable3='Generalmente no se sienten molestias debidas a la presión a medida que presionan el transductor contra el área que está siendo examinada. No obstante, si el área es sensible, usted podría sentir presión o un dolor leve debido al transductor.'
      infoDesplegable4='Para realizar este ultrasonido usted yacerá acostado boca arriba en una mesa de examen que puede inclinarse o moverse. Los pacientes podrían tener que ponerse de costado para mejorar la calidad de las imágenes.'
      infoDesplegable5='Este estudio suele durar entre 45 a 60 minutos. En él, se le aplicará un gel en el estómago y se colocará la sonda por encima y así revisar todas las partes del cuerpo del feto.'
      infoDesplegable6='Una vez terminado el proceso de toma de imágenes, el tecnólogo limpiará el gel transparente de ultrasonido de su piel. Cualquier resto de gel que quede, se secará rápidamente. El gel de ultrasonido generalmente no mancha ni destiñe la ropa. Por lo general, este examen de ultrasonido se completa en 30 minutos.'
      />
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>