---
import Layout from '../layouts/Layout.astro';
import NavbarMovil from '../components/NavbarMovil.astro'
import Footer from '../components/Footer.astro';
import Ubicacion from '../components/Ubicacion.astro';
import RedesFlotantes from '../components/RedesFlotantes.astro';
import Servicio from '../components/Servicio.astro';
import Up from '../components/Up.astro';
import Contacto2 from '../components/Contacto2.astro';
import USG2 from "../img/servicio/usg-10/ultrasonido.jpg";
import ultrasonido2 from "../img/servicio/usg-doppler/ultrasonido-2.jpg";
import ultrasonido1 from "../img/servicio/usg-doppler/ultrasonido-1.jpg";
import ultrasonido3 from "../img/servicio/usg-doppler/ultrasonido-3.png";
---

<Layout title="Ultrasonido Doppler - Dra. Janeth Adriana García Cid">
	<main id="inicio">
		<NavbarMovil/>
    <Servicio 
      title='USG Doppler' 
      href='1' 
      img={ultrasonido2}
      img2={ultrasonido1}
      body='Este ultrasonido es cuando se observa un retraso en el crecimiento del feto o es un embarazo de riesgo. También será necesario si la madre tiene hipertensión (preeclampsia) o sufre de problemas de circulación o del corazón. En estos casos se debe realizar para ver cómo pueden afectar al bebé. Cuando es necesario que la madre se someta a una cirugía se realiza esta ecografía para prevenir posibles complicaciones en el bebé tras la intervención.'
      subtitle='¿En que me beneficia realizarme este ultrasonido?' 
      body2='Esto nos ayudará en la toma de decisiones, ya que, evalúa flujos de sangre en vasos sanguíneos del bebé (arteria cerebral media, arteria umbilical) que nos hablarán del bienestar fetal y nos ayuda a saber si la oxigenación es adecuada para el cerebro, el corazón. Además, cuando la madre tiene hipertensión en el embarazo o hay un retraso en el crecimiento del bebé esta ecografía permite comprobar cómo se encuentran las arterias del útero de la madre.' 
      subtitle2='Más información'
      info1='¿Cómo me preparo para este ultrasonido?'
      info2='¿Cómo se realiza el procedimiento?'
      img3={ultrasonido3}
      img4={USG2}
      infoDesplegable1='No es necesario una preparación especial para realizar este estudio. En dado caso, el médico puede solicitar la toma de mucha agua antes de realizarlo, así como no vaciar por completo la vejiga, ya que esto puede hacer que las imágenes salgan de mejor manera.'
      infoDesplegable2='Sólo el área abdominal inferior necesita estar expuesta durante este procedimiento, por ello, le convendría llevar una vestimenta holgada, de dos piezas.'
      infoDesplegable3='Generalmente no se sienten molestias debidas a la presión a medida que presionan el transductor contra el área que está siendo examinada. No obstante, si el área es sensible, usted podría sentir presión o un dolor leve debido al transductor.'
      infoDesplegable4='Para realizar este ultrasonido usted yacerá acostado boca arriba en una mesa de examen que puede inclinarse o moverse. Los pacientes podrían tener que ponerse de costado para mejorar la calidad de las imágenes.'
      infoDesplegable5='Ésta es una prueba totalmente indolora y muy rápida, ya que su duración ronda los 15 minutos. Además, no te pondrá en peligro ni a ti ni al bebé.'
      infoDesplegable6='Una vez terminado el proceso de toma de imágenes, el tecnólogo limpiará el gel transparente de ultrasonido de su piel. Cualquier resto de gel que quede, se secará rápidamente. El gel de ultrasonido generalmente no mancha ni destiñe la ropa.'
      />
    <Contacto2 />
		<Ubicacion/>
		<RedesFlotantes/>
    <Up />
		<Footer/>
	</main>
</Layout>