
<footer class="container-f">
  <div class="footer-container">
    <div class="bg-footer">
      <div class="items-text">
        <a href="/"><h4>Inicio</h4></a>
        <a href="/Trayectoria"><h4>Conóceme</h4></a>
        <a href="/#servicios"><h4>Servicios</h4></a>
        <a href="/Ginecologia"><h4>Ginecología</h4></a>
        <a href="#ubicacion"><h4>Ubicación</h4></a>
        <a href="#Contacto"><h4>Contacto</h4></a>
      </div>
      <div class="footer-up">
        <div>
          <h4>Certificada por:</h4>
          <div class="certificados">
            <img class="ImgFooter" src='/logo-comego.png' alt="Certificados" />
            <img class="ImgFooter" src='/fetal-foundation.webp' alt="Certificados" />
          </div>
        </div>
        <div class="pago">
          <h4>Formas de pago:</h4>
          <div class="container-pagos">
            <img class="ImgFooter visa-amex" src='/visa.webp' alt="Formas de pago" />
            <img class="ImgFooter master" src='/mastercard.webp' alt="Formas de pago" />
            <img class="ImgFooter visa-amex" src='/american-express.webp' alt="Formas de pago" />
            <img class="ImgFooter dinero" src='/dinero.webp' alt="Formas de pago" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-down">
    <h4>Síguenos en todas nuestras redes sociales</h4>
    <div class="icons-rs">
      <a href="https://www.facebook.com/profile.php?id=61550929773630" target="_blank">
        <img class="ImgFooter" src='/facebook.png' alt="Facebook" />
      </a>
      <a href="https://www.instagram.com/vidaprenatal_maternofetal/" target="_blank">
        <img class="ImgFooter" src='/instagram.webp' alt="Instagram" />
      </a>
      <a href="#" target="_blank">
        <img class="ImgFooter" src='/doctoralia.png' alt="Doctoralia" />
      </a>
      <a href="https://wa.me/525511119365?text=Buenas tardes, solicito información sobre " target="_blank">
        <img class="ImgFooter" src='/whatsapp.webp' alt="Whatsapp" />
      </a>
    </div>
    <p>© Dra. Janeth Adriana García Cid. Todos los derechos reservados <br> Design by
      <a href="https://agenciainspiracion.com" target="_blank">Agencia Inspiración Creativa</a> </p>
  </div>
</footer>

<!--Estilos-->
<style>
  a {
    transition: all 0.2s linear;
  }
  .footer-down a[href="https://agenciainspiracion.com"]:hover {
    transition: all 0.2s linear;
    text-decoration: underline;
  }
  .container-f {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--verde-agua-claro);
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
  }
  .bg-footer {
    width: 100%;
  }
  .footer-up {
    width: 100%;
    background-color: var(--verde-agua-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .footer-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--verde-agua);
    width: 100%;
  }
  .footer-down p, .footer-down h4, .footer-down a, .footer-up h4{
    text-align: center;
    text-decoration: none;
    color: black;
  }
  .icons-rs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .icons-rs i {
    font-size: 20px;
  }
  .icons-rs img {
    width: 22px;
    height: auto;
  }
  .footer-up .certificados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-bottom: 10px;
  }
  .footer-up .certificados img {
    width: 50px;
    height: auto;
  }
  .items-text {
    margin: 5%;
  }
  .items-text a {
    text-decoration: none;
    color: black;
  }
  .items-text h4 {
    margin-bottom: 15px;
  }
  .pago {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pago img {
    max-width: 80%;
  }
  .container-pagos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
  }
  .container-pagos .visa-amex {
    width: 50px;
    height: auto;
  }
  .container-pagos .master {
    width: 55px;
    height: 38px;
  }
  .container-pagos .dinero {
    width: 50px;
    height: 35px;
  }
  @media (min-width: 768px) {
    .footer-up {
      flex-direction: row;
    }
    .items-text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 60px 1rem;
    }
    .items-text a {
      padding: 10px;
      transition: all 0.3s ease-in-out;
    }
    .pago {
      margin: 0 1rem 0 1rem;
    }
    .items-text a:hover {
      transition: all 0.3s ease-in-out;
      padding: 10px;
      background-color: var(--rosa-claro);
      border-radius: 10px;
    }
    .items-text h4 {
      margin-bottom: 0;
    }
    .icons-rs {
      justify-content: center;
    }
    .icons-rs a {
      margin-right: 40px;
    }
  }
</style>