<footer class="footer-container">
  <div class="bg-footer">
    <div class="items-text">
      <a href="/"><h4>Inicio</h4></a>
      <a href="/Trayectoria"><h4>Conóceme</h4></a>
      <a href=""><h4>Servicios</h4></a>
      <a href=""><h4>Testimonios</h4></a>
      <a href=""><h4>Ubicación</h4></a>
      <a href=""><h4>Contacto</h4></a>
    </div>
    <div class="footer-up">
      <h4>Certificada por:</h4>
      <div class="certificados">
        <img src="src/img/logo-comego.png" alt="">
        <img src="src/img/fetal-foundation.png" alt="">
      </div>
      <div class="pago">
        <h4>Formas de pago:</h4>
        <img src="src/img/tarjetas.png" alt="">
      </div>
    </div>
  </div>
  <div class="footer-down">
    <h4>Síguenos en todas nuestras redes sociales</h4>
    <div class="icons-rs">
      <a href="https://www.facebook.com/people/Dr-Carlos-Enrique-López-Betancourt/100065396683357/?sk=photos" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/onco_carlos_beta/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.doctoralia.com.mx/carlos-enrique-lopez-betancourt-2/cirujano-oncologo-cirujano-general/naucalpan?utm_campaign=305525&utm_medium=link&utm_source=widget&utm_term=instagram-profile-link" target="_blank"><img src="src/img/doctoralia.png" alt=""></a>
      <a href="https://wa.me/525591986338?text=Buenas tardes, solicito información sobre " target="_blank"><i class="bi bi-whatsapp"></i></a>
      <a href="tel:5591986338" target="_blank"><i class="bi bi-telephone"></i></a>
    </div>
    <p>© Dra. Janeth Adriana García Cid. Todos los derechos reservados <br> Design by
      <a href="https://dentarios.com.mx/programacion.php" target="_blank">Agencia Dentarios</a> </p>
  </div>
</footer>

<!--Estilos-->
<style>
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bg-footer {
    width: 100%;
    background-color: var(--verde-agua-claro);
  }
  .footer-up {
    width: 100%;
    background-color: var(--verde-agua-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--verde-agua);
    width: 100%;
  }
  .footer-down p, .footer-down h4, .footer-down a, .footer-up h4{
    text-align: center;
    text-decoration: none;
    color: black;
  }
  .icons-rs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .icons-rs i {
    font-size: 20px;
  }
  .icons-rs img {
    width: 22px;
    height: auto;
  }
  .icons-rs .bi-facebook{
    color: blue;
  }
  .icons-rs .bi-instagram {
    color: var(--rosa);
  }
  .icons-rs .bi-whatsapp {
    color: green;
  }
  .icons-rs .bi-telephone {
    color: yellow;
  }
  .footer-up .certificados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-bottom: 10px;
  }
  .footer-up .certificados img {
    width: 50px;
    height: auto;
  }
  .items-text {
    margin: 5%;
  }
  .items-text a {
    text-decoration: none;
    color: black;
  }
  .items-text h4 {
    margin-bottom: 15px;
  }
  .pago {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pago img {
    max-width: 80%;
  }
</style>