<section class="cv-container">
  <h2>MI TRAYECTORIA</h2>
  <hr class="subrayado">
  <div class="container-txt">
    <img class="img-hero" src='/doc-2.webp' alt="Dra. Adriana" />
    <div class="txt-imagen">
      Hola, soy la <strong>Dra. Janeth Adriana García Cid</strong>, realicé la carrera de médico cirujano 
      en la Universidad Autónoma del Estado de Hidalgo, posteriormente realicé la especialidad de 
      <strong>Ginecología y Obstetricia</strong> en el Hospital General de México avalada por la <strong>
      Universidad Nacional Autónoma de México</strong>, al egreso de la especialidad, durante casi dos años me encontré como médico 
      adscrito al servicio de Medicina Materno Fetal en CMN La Raza, en donde descubrí lo importante que 
      es que todas las mujeres tengan  acceso a una atención especializada, sobre todo aquellos embarazos 
      de alto riesgo, para poder obtener los mejores resultados tanto para la mamá como para  el bebé y es 
      así como se despertó en mi una pasión por esta rama de la ginecología y obstetricia, así que tome la 
      decisión  de realizar la sub especialidad  en <strong>Medicina Materno fetal</strong> en uno de los mejores 
      hospitales del país, en el <strong>Instituto nacional de Perinatología</strong>, avalada por la <strong>
      Universidad Nacional Autónoma de México</strong>. 
    </div>
    <div class="container-button">
      <div class="button-cv">
        <p>
          <strong>¡Déjame acompañarte en esta etapa especial!</strong>
        </p>
        <a href="https://wa.me/525511119365?text=Buenas tardes, solicito información sobre " target="_blank"><button>AGENDAR CITA</button></a>
      </div>
    </div>
  </div>
  <div class="conoce-des">
    <h3>ACADÉMICO</h3>
    <div class="cedulas">
      <div class="item-cedulas">
        <img src='/logo-uaeh.webp' alt="Logo UAEH" class='ImgLogo' />
        <div class="txt-cedula">
          <p>Universidad Autónoma del Estado de Hidalgo</p>
          <p>Médico Cirujano</p>
          <p><strong>No. de cédula: 9234216</strong></p>
        </div>
      </div>
      <div class="item-cedulas">
        <div>
          <img src='/logo-unam.webp' alt="Logo UNAM" class='ImgLogo' />
          <img src='/logo-hospital.webp' alt="Logo Hospital" class='ImgLogo' />
        </div>
        <div class="txt-cedula">
          <p>Universidad Nacional Autónoma de México</p>
          <p>Hospital General de México “Dr Eduardo Liceaga”</p>
          <p>Ginecología y Obstetricia</p>
          <p><strong>No. de cédula: 11589695</strong></p>
        </div>
      </div>
      <div class="item-cedulas parte-5">
        <div class="container-img">
          <img src='/logo-unam.webp' alt="Logo UNAM" class='ImgLogo' />
          <img src='/INPer_logo.webp' alt="Logo INPER" class='ImgLogo' />
        </div>
        <div class="txt-cedula">
          <p>Universidad Nacional Autónoma de México</p>
          <p>Instituto Nacional de Perinatología INPer</p>
          <p>Subespecialidad en Medicina Materno Fetal</p>
          <p><strong>No. de cédula: 13412442</strong></p>
        </div> 
      </div>
    </div>
  </div>
  <div class="conoce-des">
    <h3>CERTIFICACIONES</h3>
    <div class="cedulas">
      <div class="item-cedulas">
        <img src='/logo-comego.png' alt="Logo COMEGO" class='ImgLogo' />
        <div class="txt-cedula">
          <p>Consejo Mexicano de Ginecología y Obstetricia</p>
          <p>Ginecología y Obstetricia</p>
          <p><strong>Número: 10744</strong></p>
          <p>Medicina Materno Fetal</p>
          <p><strong>Número: 430</strong></p>
        </div>
      </div>
      <div class="item-cedulas">
        <img src='/fetal-foundation.webp' alt="Logo Fetal" class='ImgLogo' />
        <div class="txt-cedulas">
          <p>The Fetal Medicine Foundation</p>
          <p>Medicina Materno Fetal </p>
          <p><strong>Número: 221859</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Estilos -->
<style>
  .conoce-des {
    margin-top: 5%;
  }
  .container-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-cv button {
    padding: 12px 16px;
    background-color: var(--rosa);
    border-style: none;
    border-radius: 15px;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .button-cv button:hover {
    background-color: var(--morado);
    transition: all 0.3s ease-in-out;
  }
  .button-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgba(164,204,196,0.5);
    width: max-content;
    padding: 20px;
    border-radius: 40px;
  }
  .cv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 6% 6% 6%;
    flex-direction: column;
  }
  .container-txt {
    width: -webkit-fill-available;;
  }
  .container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
  }
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: blueviolet;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .cv-container h2, .cv-container h3 {
    color: var(--morado-title);
    text-align: center;
  }
  .cv-container h3 {
    margin-top: 20px;
  }
  .cv-container .img-hero {
    width: 100%;
    height: auto;
    margin: 15px 0 35px 0;
  }
  .cv-container .container-txt .img-hero {
    border-radius: 40px;
  }
  .img-hero {
    float: none;
  }
  .cv-container p, .txt-imagen {
    text-align: justify;
  }
  .container-txt strong, .txt-cedula strong, .txt-cedulas strong{
    font-size: 17px;
    color: var(--morado-title);
  }
  .cedulas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cedulas .item-cedulas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
  }
  .cedulas .item-cedulas .ImgLogo {
    width: 80px;
    height: auto;
    margin: 15px 0 35px;
  }
  .txt-cedula, .txt-cedulas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .txt-cedula p, .txt-cedulas p {
    text-align: center;
    margin-bottom: 0;
  }
  .img-des {
    display: none;
  }
  @media (min-width: 768px) {
    .cv-container p, .txt-imagen {
      font-size: 1.4em;
    }
    .txt-imagen {
      margin-top: 5%;
    }
    .cv-container .img-hero {
      width: 40%;
      max-width: 450px;
      margin: 15px 80px 0 0;
    }
    .container-txt strong, .txt-cedula strong, .txt-cedulas strong {
      font-size: 1.4em;
      color: var(--morado-title);
    }
    .img-des {
      display: flex;
    }
    .img-mov {
      display: none;
    }
    .cv-container h3 {
      margin-top: 40px;
    }
    .cedulas {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 600px));
    }
    .cedulas .item-cedulas .ImgLogo {
      width: 100px;
      height: auto;
      margin: 0 0 30px 0;
    }
    .cedulas .parte-5 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .txt-cedula {
      margin-right: 20px;
      margin-left: 0;
    }
    .img-hero {
      float: left;
    }
  }
</style>