
<section class="hero-container" id="inicio">
  <h2>MATERNO FETAL</h2>
  <hr class="subrayado">
  <div class="container-materno">
    <img src='/foto-bb.webp' alt="Imagen mamá embarazada" class='ImgHero'/>
    <p>La Medicina Materno Fetal, se especializa en el manejo del embarazo de alto riesgo ya 
      sea por condición materna o fetal; con un enfoque amplio en el conocimiento de las complicaciones 
      obstétricas y sus efectos sobre la madre y el feto.
      Los especialistas en Medicina Materno Fetal, somos médicos especializados en el manejo de la mujer 
      embarazada que cuenta con una enfermedad pre-existente (enfermedad cardíaca o renal, enfermedades 
      autoinmunes, hipertensión, diabetes, trombofilia), o que está en riesgo de complicaciones relacionadas 
      con el embarazo (parto prematuro, preeclampsia, y embarazos gemelares), así como mujeres embarazadas 
      con fetos en riesgo debido a anomalías cromosómicas o anomalías congénitas, enfermedad materna, 
      infecciones, enfermedades genéticas y alteraciones del crecimiento fetal.
    </p>
  </div>
  <div class="why">
    <h2>¿POR QUÉ SOMOS TU MEJOR OPCIÓN?</h2>
    <hr class="subrayado">
    <div class="container-why">
      <img src='/doctora1.webp' alt="Doctora Adriana" class='ImgHero'/>
      <div>
        <p>
          Tenemos una formación amplia en el diagnóstico prenatal utilizando el ultrasonido y 
          diferentes pruebas para la detección de problemas fetales. En esta especialidad 
          tratamos dos pacientes al mismo tiempo; tanto a la madre como al bebé, con los 
          conocimientos más actualizados con el objetivo de lograr el mejor resultado posible 
          para tu embarazo. <br> Contamos con la más moderna tecnología, llevando a cabo una 
          evaluación individual de cada paciente y conocer el riesgo o probabilidad de que 
          el bebé presente alguna alteración. 
        </p>
        <div class="conoce-des">
          <h3>Conóce más sobre mí</h3>
          <a href="/Trayectoria">
            <button>Ver más</button>
          </a>
        </div>
      </div>
    </div>
    <div class="conoce-mov">
      <h3>Conóce más sobre mí</h3>
      <a href="/Trayectoria">
        <button>Ver más</button>
      </a>
    </div>
  </div>
</section>

<!--Estilos -->
<style>
  .hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6%;
  }
  .hero-container .ImgHero {
    width: 100%;
    height: auto;
    border-radius: 40px;
    margin: 15px 0 35px 0;
  }
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: blueviolet;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .hero-container h2, .hero-container h3 {
    color: var(--morado-title);
    text-align: center;
  }
  .hero-container p {
    text-align: justify;
  }
  .why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }
  .why button {
    padding: 12px 16px;
    background-color: var(--rosa);
    border-radius: 15px;
    color: white;
    border-style: none;
    transition: all 0.3s ease-in-out;
  }
  .why button:hover {
    background-color: var(--morado);
    transition: all 0.3s ease-in-out;
  }
  .conoce-des, .conoce-mov {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .conoce-des {
    display: none;
  }
  @media (min-width: 1024px) {
    .conoce-des {
      display: flex;
    }
    .conoce-mov {
      display: none;
    }
    .container-materno {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .hero-container {
      padding: 30px 6% 6% 6%;
    }
    .hero-container .container-materno .ImgHero {
      width: 50%;
      height: auto;
      margin-right: 25px;
    }
    .hero-container p {
      font-size: 1.1em;
    }
    .hero-container .container-why .ImgHero {
      width: 50%;
      height: auto;
      margin-left: 25px;
    }
    .container-why {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row-reverse;
    }
  }
</style>