<section class="container-servicio">
  <div class="container-header">
    <h2>SERVICIOS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
    <a href="/Trayectoria">
      <button>Contacto</button>
    </a>
  </div>
  <div class="container-desktop">
    <h2 class="title">ULTRASONIDOS</h2>
    <hr class="subrayado">
    <div class="container-grid">
      <div class="item-servicio parte-">
        <h3>USG de Menos de 11 Semanas</h3>
        <img src="src/img/servicios/usg-10semanas.jpg" alt="">
        <p>Confirma el embarazo
          Evalúa la vitalidad del embrión
          Determinar el número de fetos</p>
      </div>
    </div>
  </div>

  <div class="container-movil">
    <h2 class="title">ULTRASONIDOS</h2>
    <hr class="subrayado">
    <div class="container-grid">
      <div class="item-servicio parte-">
        <h5>USG de Menos de 11 Semanas</h5>
        <img src="src/img/servicios/usg-10semanas.jpg" alt="">
        <a href="/Trayectoria">
          <button>Ver más</button>
        </a>
        <div class="overlay-display" id="ultra-1">
          <div class="overlay-content">
            <h6>USG de Menos de 11 Semanas</h6>
            <p>Evaluar el riesgo de síndrome de Down, así como determinar el riesgo de preeclampsia, 
              restricción de crecimiento fetal y parto pretérmino.</p>
              <a href="/Trayectoria">
                <button>Cerrar</button>
              </a>
          </div>
        </div>
      </div>
      <div class="item-servicio parte-">
        <h5>USG Génetico de Primer Trimestre 11-14 sdg</h5>
        <img src="src/img/servicios/usg_11semanas.jpg" alt="">
        <a href="/Trayectoria">
          <button>Ver más</button>
        </a>
      </div>
    </div>
  </div>
</section>

<!--Estilos -->
<style>
  .container-servicio, .container-servicio .container-desktop, .container-servicio .container-movil, .container-servicio .container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-servicio .container-header {
    padding: 30px 6% 6% 6%;
    text-align: justify;
    background-image: url(src/img/fondos-de-colores.jpg);
    background-position: right;
    background-size: cover;
    color: white;
  }
  .container-servicio .container-header p {
    color: white;
  }
  .container-servicio .container-desktop {
    padding: 30px 6% 6% 6%;
    display: none;
  }
  .container-servicio .container-movil {
    padding: 30px 6% 6% 6%;
    
  }
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: blueviolet;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .title, .item-servicio h3, .item-servicio h5 {
    color: var(--morado-title);
    text-align: center;
  }
  .item-servicio h3 {
    margin-top: 20px;
  }
  .container-grid .item-servicio img {
    width: 100%;
    height: auto;
    border-radius: 40px;
  }
  .container-grid .item-servicio p {
    margin-top: 15px;
    text-align: justify;
  }
  .container-servicio button {
    padding: 12px 16px;
    background-color: var(--rosa);
    border-radius: 15px;
    color: white;
    border-style: none;
    transition: all 0.3s ease-in-out;
  }
  .container-servicio button:hover {
    background-color: var(--morado);
    transition: all 0.3s ease-in-out;
  }
  .container-servicio .container-movil .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }
  .container-servicio .container-movil .container-grid .item-servicio {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }
  .container-servicio .container-movil .container-grid button {
    margin-top: 10px;
  }
  .overlay-display {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.397);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .overlay-display .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-agua);
    width: 300px;
    padding: 20px;
    border-radius: 40px;
  }
  .overlay-display .overlay-content i {
    color: rgb(173, 3, 3);
    font-size: 35px;
    position: fixed;
    top: 28%;
    right: 2%;
  }
</style>