<section class="container-servicio">
  <h2 class="title">ULTRASONIDOS</h2>
  <hr class="subrayado">
  <div class="container-grid">
    <div class="item-servicio parte-">
      <h3>USG de Menos de 11 Semanas</h3>
      <img src="src/img/servicios/usg-10semanas.jpg" alt="">
      <p>Confirma el embarazo
        Evalúa la vitalidad del embrión
        Determinar el número de fetos</p>
    </div>
  </div>
</section>

<!--Estilos -->
<style>
  .container-servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 6% 6% 6%;
  }
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: blueviolet;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .title, .item-servicio h3 {
    color: var(--morado-title);
    text-align: center;
  }
  .item-servicio h3 {
    margin-top: 20px;
  }
  .container-grid .item-servicio img {
    width: 100%;
    height: auto;
    border-radius: 40px;
  }
  .container-grid .item-servicio p {
    margin-top: 15px;
    text-align: justify;
  }
</style>