<div class="container-title" id="ubicacion">
  <h2>UBICACIÓN</h2>
  <hr class="subrayado">
</div>
<section class="container-ubicacion">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.5960870364675!2d-99.13777319031206!3d19.29992354483146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce01af74a4cc7b%3A0x1e00d087af935a9b!2sHospital%20Angeles%20Acoxpa!5e0!3m2!1ses-419!2smx!4v1692827397651!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="direccion">
    <h3>Hospital Ángeles Acoxpa</h3>
    <p>Calz Acoxpa 430, Consultorio 45-A, Coapa, Ex-Hacienda Coapa, Tlalpan, 14308 Ciudad de México</p>
    <h3>LUNES A DOMINGO</h3>
    <h3>8:00hrs a 20:00hrs</h3>
  </div>
</section>

<!--Estilos -->
<style>
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: white;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: var(--rosa);
    padding: 10px 10px 0 10px;
  }
  .container-title h2 {
    text-align: center;
    color: white;
    margin-top: 10px;
  }
  .container-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    flex-direction: column;
    background-color: var(--rosa);
  }
  .container-ubicacion iframe {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  .container-ubicacion .direccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .container-ubicacion .direccion p {
    color: white;
  }
  @media (min-width: 768px) {
    .container-ubicacion {
      flex-direction: row;
    }
    .container-ubicacion iframe {
      margin-right: 20px;
      height: 350px;
    }
  }
</style>