<div class="container-title">
  <h2>UBICACIÓN</h2>
  <hr class="subrayado">
</div>
<section class="container-ubicacion">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60225.65753689534!2d-99.24026370048526!3d19.364666495568503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff0a271f3adb%3A0x4f7b6ed1a5c6dac!2sHospital%20Angeles%20Universidad!5e0!3m2!1ses-419!2smx!4v1691792122627!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="direccion">
    <h3>HOSPITAL ÁNGELES UNIVERSIDAD</h3>
    <p>Av. Universidad 1080, Xoco, Benito Juárez, 03330 Ciudad de México, CDMX</p>
    <h3>LUNES A VIERNES</h3>
    <h3>9:00 a 15:00</h3>
  </div>
</section>

<!--Estilos -->
<style>
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: white;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: var(--rosa);
    padding: 10px 10px 0 10px;
  }
  .container-title h2 {
    text-align: center;
    color: white;
  }
  .container-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    flex-direction: column;
    background-color: var(--rosa);
  }
  .container-ubicacion iframe {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  .container-ubicacion .direccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .container-ubicacion .direccion p {
    color: white;
  }

</style>