<div class="container-title" id="ubicacion">
  <h2>UBICACIÓN</h2>
  <hr class="subrayado">
</div>
<section class="container-ubicacion">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15062.461452374904!2d-99.1372278!3d19.299086!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0161de555917%3A0xc68a3205e1c2bda6!2sDra.%20Adriana%20Garc%C3%ADa%20(Materno%20Fetal)!5e0!3m2!1ses!2smx!4v1692124798661!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="direccion">
    <h3>Hospital Ángeles Acoxpa</h3>
    <p>Calz Acoxpa 430, Coapa, Ex-Hacienda Coapa, Tlalpan, 14308 Ciudad de México</p>
    <h3>LUNES A DOMINGO</h3>
    <h3>8:00 a 20:00</h3>
  </div>
</section>

<!--Estilos -->
<style>
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: white;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: var(--rosa);
    padding: 10px 10px 0 10px;
  }
  .container-title h2 {
    text-align: center;
    color: white;
  }
  .container-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
    flex-direction: column;
    background-color: var(--rosa);
  }
  .container-ubicacion iframe {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  .container-ubicacion .direccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .container-ubicacion .direccion p {
    color: white;
  }

</style>