---
import Image from "astro/components/Image.astro";
import logo from "../img/logo.png";
---

<div class="container-u">
  <div class="container-title" id="ubicacion">
    <h2>UBICACIÓN</h2>
    <hr class="subrayado">
  </div>
  <section class="container-ubicacion">
    <iframe title="Mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.5960870364675!2d-99.13777319031206!3d19.29992354483146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce01af74a4cc7b%3A0x1e00d087af935a9b!2sHospital%20Angeles%20Acoxpa!5e0!3m2!1ses-419!2smx!4v1692827397651!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="direccion">
      <Image src={logo} alt="logo" width='1200' height='1200' class:list="imgLogo"/>
      <h3>Hospital Ángeles Acoxpa</h3>
      <p>Calz Acoxpa 430, Consultorio 45-A, Coapa, Ex-Hacienda Coapa, Tlalpan, 14308 Ciudad de México</p>
      <h3>LUNES A DOMINGO</h3>
      <h3>8:00hrs a 20:00hrs</h3>
    </div>
  </section>
</div>

<!--Estilos -->
<style>
  .container-u {
    width: 100%;
    background-color: var(--rosa);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subrayado {
    border: 2px solid;
    width: 70%;
    color: white;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    padding: 10px 10px 0 10px;
    max-width: 1200px;
  }
  .container-title h2 {
    text-align: center;
    color: white;
    margin-top: 10px;
  }
  .container-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 1rem;
    flex-direction: column;
    background-color: var(--rosa);
    max-width: 1200px;
  }
  .container-ubicacion iframe {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
  }
  .container-ubicacion .direccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .container-ubicacion .direccion p {
    color: white;
  }
  .direccion .imgLogo {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .container-ubicacion {
      flex-direction: row;
    }
    .container-ubicacion iframe {
      margin-right: 20px;
      height: 350px;
    }
    .container-ubicacion .direccion {
      margin-left: 30px;
    }
  }
</style>