<div class="button-up">
  <a href="#"><i class="bi bi-chevron-up"></i></a>
</div>


<!-- Estilos -->
<style>
  .button-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .button-up a {
    background-color: rgb(144, 255, 233);
    border-style: none;
    border-color: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-up i {
    color: white;
    font-size: 25px;
  }
  @media (min-width: 768px) {
    .button-up i {
      font-size: 30px;
    }
    .button-up a {
      width: 50px;
      height: 50px;
    }
  }
</style>